#root {
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
}

h1 {
  margin: 0;
}

img {
  max-width: 20vw;
  height: auto;
}